footer {
    height: 30vh;
    width: 100%;
    background-color: #eb9ac0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    p {
        color: #44132a;
        font-size: 20px;
    }
    a {
        color: #44132a;
        text-decoration: none;
        font-size: 20px;
    }
}

.redSocial {
    font-size: 32px
}