#productsListContainer {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 4vw;
    gap: 24px;
    h1 {
        font-size: 32px;
        color: #44132A;
    }
}

#productsList {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 24px;
}

@media (max-width: 935px) {
    #productsList{
    grid-template-columns: repeat(3, 1fr);}
}

@media (max-width: 450px) {
    #productsList{
    grid-template-columns: repeat(2, 1fr);}
}
